

/* .Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
} */

.logo {
  height: 10vh;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: rgb(187, 187, 187);
  cursor: pointer;
}

.Navbar {
  background-color: lightskyblue;
  padding: 5px;
  position: relative;
}