body {
  overflow: hidden;
}

.News {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.news-items {
  padding: 10px, 10px, 0px, 10px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container {
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-gif {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card-box {
  overflow-y: scroll;
}

.watch-list {
  width: 25%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* align-content: center; */
  width: 1275px;
  height: 815px;
}

.card-box::-webkit-scrollbar { width: 0 !important }

.ticker-input {
  text-transform: uppercase;
}

/* .card-img {
  height: 130px;
  width: 230px;
  padding: 0px 20px 0px 0px;
}

.card-info {
  text-align: left;
  display: flex;
  align-content: center;
  flex-direction: column
}

.card-title {
  color: #1274ed;
  font-size: 1.25rem;
}

.card-text {

} */